* {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}
#hero {
    background-image: url("/public/pictures/hero.jpg");
    height: 13vw;
}
#sun {
    width: 7.5vw;
    height: 6vw;
    opacity: 0.8;

}
a:link, a:visited {
    color: darkgreen;
    transition: 1s;
}
a:hover {
    background: greenyellow
}
#gitIcon {
    width:10vw;
    height: 10vw;
}
#hintBox {
    position: relative;
    color: rgb(255, 255, 255);
    transition: .5s ease;
    
  }
  #hintBox:hover {
    color: rgb(10, 9, 7);
  }
  @media screen and (max-width: 720px) {
    #aside {
        margin-top: 1vw;
        width: 100%;
    }
    #main {
        width: 100%;
    }
    #hero {
        height: 30vw;
    }
  }