* {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}
#hero {
    background-image: url("/public/pictures/hero.jpg");
    height: 13vw;
}
#clock {
    background-image: url(/public/pictures/clockBack.jpg);
    height: auto;
    margin: 2px;
    font-family: "Jersey 15 Charted", sans-serif;
    font-weight: 400;
   font-style: normal;
}
#cardFour{
    background-image: url(/public/pictures/cardStock2.png);
    margin: 2px;
    width: auto;
}

#clockForm {
    background-image: url(/public/pictures/clockBack2.jpg);
    margin: 2px;
    width: auto;
}
#dayBack {
    background-image: url(/public/pictures/displayBack.png);
    margin: 2px;
    width: auto;
}
#clockBack {
    background-image: url(/public/pictures/displayBack.png);
}
#quoteForm {
    background-image: url(/public/pictures/formback.jpg);
    margin: 2px;
    width: auto;
}

#aside {
    background-image: url(/public/pictures/aside.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 60vw;
    padding-left: 1vw;
    width: auto;
}

#sun {
    width: 7.5vw;
    height: 6vw;
    opacity: 0.8;

}


#crazyBtnBox {
    background-image: url(/public/pictures/buttonbox.jpg);
    width: 99%
}
.pickMe {
    position: relative;
    margin: .5vw 0;
    animation-name: catchMe;
    animation-duration: 500ms; 
    animation-delay: -100ms;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    
    animation-play-state: paused;
}

.pickMe:hover {
    animation-play-state: running;
}

@keyframes catchMe {
    0% {left:0%} 
    100%{left:85%}
}
#growingVine {
    
    animation-name: growingVine;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    
}

@keyframes growingVine {
    0%{
        transform: scale(0, 0);
        opacity: 1;
    }
    25% { 
        transform: scale(.5, .5);
        opacity: 1;
    }
    50% {
        transform: scale(1, 1);
        opacity: 1;
    }
    75%{
        transform: scale(1, 4);
        opacity: .5;
    }
    100%{
        transform: scale(1, 4);
        opacity: 0;
    }
}
#openbtn {
    visibility: hidden;
    height: 0vw;
    overflow: hidden;
}
#closebtn {
    visibility: hidden;
    overflow: hidden;
    margin-bottom: 1vw;
    height:auto;
    width: auto;
}
@media screen and (max-width: 540x) {

#aside {
        visibility: collapse;
        height: auto;
        overflow: scroll;
    }
#openbtn {
        visibility: visible;
        height: auto;
        margin-bottom: 1vw;
        justify-content: center;
    }
#openbtn:hover {
        background-color: aquamarine;
    }
#hero {
        height: auto;
        margin-bottom: 0; 
    }
#trellisBox {
        visibility: collapse;
}
#main {
       margin: .5vw;
       width: 97%;
}
#crazyBtnBox {
        width: 97%;
        margin: auto;
}
#clock {
        width: 50%;
        margin-right: auto;
}
#quoteForm{
    margin-left:auto;
    width: 97%;
}
#myChart {
    width: 97vw;
}
}

@media screen and (max-width: 720px) {

    #aside {
        visibility: collapse;
        height: auto;
        overflow: scroll;
    }
    #openbtn {
        visibility: visible;
        height: 7vw;
    }
    #openbtn:hover {
        background-color: aquamarine;
    }
    #hero {
        height: auto;
        margin-bottom: 0; 
    }
#trellisBox {
    visibility: collapse;
    width: auto;
}
#main {
    margin: .5vw;
    width: 97%;
}
#crazyBtnBox {
    width: 97%;
    margin: auto;
}
#clock {
    margin-right: auto;
}
#clockForm {
    width: 45%;
}
#quoteForm{
    margin-left:auto;
    width: 97%;
}
#cardFour {
    margin-left: 20%;
}
#myChart {
    width: 100%;
}
}

@media screen and (max-width: 960px) {
    #main {
        margin: .5vw;
        width: auto;
    }
    #aside {
        width: fit-content;

    }
    #clock {
        width: auto;
        margin-right: 2vw;
    }
    #clockForm {
        width: auto;
    }
    #quoteForm{
        margin-left:auto;
        width: 97%;
    }
    #cardFour {
        margin-left: 20%;
    }
    #myChart {
        width: 100%;
    }
    #crazyBtnBox {
        width: 97%;
        margin: auto;
    }
    #trellisBox {
        visibility: collapse;
        width: 0vw;
    }
}
@media screen and (max-width: 1140px) {
    #main {
        margin: .5vw;
        width: 70%;
        float: right;
    }
    #aside {
        position: static;
        width: 20%;
        z-index: 1;
    }
    #clock {
        margin-right: auto;
    }
    #clockForm {
        width: 45%;
    }
    #quoteForm{
        margin-left:auto;
        width: 97%;
    }
    #cardFour {
        margin-left: 20%;
    }
    #myChart {
        width: 100%;
    }
    #crazyBtnBox {
        width: 97%;
        margin: auto;
    }
}
@media screen and (min-width: 1141px) {
    #main {
        margin: .5vw;
        width: 70%;
        float: right;
    }
    #aside {
        position: static;
        width: 20%;
        z-index: 1;
    }
    #clock {
        margin-right: 1vw;
        width: 25%;
    }
    #clockForm {
        width: 25%;
    }
    #quoteForm{
        margin-left:1vw;
        width: 45%;
    }
  
    #myChart {
        width: 100%;
    }
    #crazyBtnBox {
        width: 97%;
        margin: auto;
    }
};