* {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}
#hero {
    background-image: url("/public/pictures/hero.jpg");
    height: 13vw;
}
#clock {
    background-image: url(/public/pictures/clockBack.jpg);
    height: auto;
    margin: 2px;
    font-family: "Jersey 15 Charted", sans-serif;
    font-weight: 400;
   font-style: normal;
}
#cardFour{
    background-image: url(/public/pictures/cardStock2.png);
    margin: 2px;
    width: auto;
}

#clockForm {
    background-image: url(/public/pictures/clockBack2.jpg);
    margin: 2px;
    width: auto;
}
#clockBack {
    background-image: url(/public/pictures/displayBack.png);
}
#quoteForm {
    background-image: url(/public/pictures/formback.jpg);
    margin: 2px;
    width: auto;
}


#aside {
    background-image: url(/public/pictures/aside.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 60vw;
    padding-left: 1vw;
}

#sun {
    width: 7.5vw;
    height: 6vw;
    opacity: 0.8;

}


#crazyBtnBox {
    background-image: url(/public/pictures/buttonbox.jpg);
    width: 99%
}
.pickMe {
    position: relative;
    margin: .5vw 0;
    animation-name: catchMe;
    animation-duration: 200ms; 
    animation-delay: -100ms;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    
    animation-play-state: paused;
}

.pickMe:hover {
    animation-play-state: running;
}

@keyframes catchMe {
    0% {left:0%} 
    100%{left:85%}
}
#growingVine {
    
    animation-name: growingVine;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    
}

@keyframes growingVine {
    0%{
        height: 0vw;
        width: 2vw;
        opacity: 1;
    }
    25% { 
        height: 20vw;
        width: 4vw;
        opacity: 1;
    }
    50% {
        height: 40vw;
        width: 4vw;
        opacity: 1;
    }
    75%{
        height: 40vw;
        width: 4vw;
        opacity: .5;
    }
    100%{
        height: 40vw;
        width: 4vw;
        opacity: 0;
    }
}


